In [1]:
from PIL import Image
import PIL.Image
import cv2 
import matplotlib.pyplot as plt
import datetime
import numpy as np
from PIL import Image, ImageEnhance 
from pytesseract import image_to_string
import pytesseract
import pandas as pd

pytesseract.pytesseract.tesseract_cmd = 'Tesseract-OCR/tesseract'
TESSDATA_PREFIX = 'Tesseract-OCR'

In [4]:
import os
arr = os.listdir('DataProj/')
print(arr)

['drive-download-20191106T125937Z-001.zip', 'txt_mudit_b11_11597.jpg', 'txt_mudit_b11_11599.jpg', 'txt_mudit_b11_12.jpg', 'txt_mudit_b11_1328.jpg', 'txt_mudit_b11_1330.jpg', 'txt_mudit_b11_1332.jpg', 'txt_mudit_b11_1334.jpg', 'txt_mudit_b11_1337.jpg', 'txt_mudit_b11_1339.jpg', 'txt_mudit_b11_1343.jpg', 'txt_mudit_b11_1347.jpg', 'txt_mudit_b11_1354.jpg', 'txt_mudit_b11_1355.jpg', 'txt_mudit_b11_1361.jpg', 'txt_mudit_b11_1362.jpg', 'txt_mudit_b11_1363.jpg', 'txt_mudit_b11_1364.jpg', 'txt_mudit_b11_1365.jpg', 'txt_mudit_b11_1369.jpg', 'txt_mudit_b11_1524.jpg', 'txt_mudit_b11_1529.jpg', 'txt_mudit_b11_1534.jpg', 'txt_mudit_b11_1535.jpg', 'txt_mudit_b11_1536.jpg', 'txt_mudit_b11_1539.jpg', 'txt_mudit_b11_439.jpg', 'txt_mudit_b11_480.jpg', 'txt_mudit_b11_746.jpg', 'txt_mudit_b11_961.jpg', 'txt_mudit_b8_1_513.jpg', 'txt_mudit_b8_1_545.jpg', 'txt_mudit_b8_1_546.jpg', 'txt_mudit_b8_1_554.jpg', 'txt_mudit_b8_1_555.jpg', 'txt_mudit_b8_1_571.jpg', 'txt_mudit_b8_1_573.jpg', 'txt_mudit_b8_1_574.jpg', 'txt_mudit_b8_1_740.jpg', 'txt_mudit_b8_1_741.jpg', 'txt_mudit_b8_1_742.jpg', 'txt_mudit_b8_1_806.jpg', 'txt_mudit_b8_1_807.jpg', 'txt_mudit_b8_1_808.jpg', 'txt_mudit_b8_1_854.jpg', 'txt_mudit_b8_1_855.jpg', 'txt_mudit_b8_2_213.jpg']

In [5]:
labels = ['Name','Chasis No.','Engine No.','Registration No.','Registration Date','Model']
data = np.zeros((47,6),dtype = str)
data = pd.DataFrame(data)
data.columns = labels

In [6]:
q = 0
name = []
chasis = []
symbols = [',','.','/','?','*','<','>',':','[','{',']','}','!','@','#','$','%','^','&','(',')','-','_','=','+','-:','>:','=:','_.',';','__:','—_:','_:','=<:']
l = []
for i in arr[1:]:
    im = Image.open("DataProj/"+i)
    enhancer = ImageEnhance.Brightness(im)
    enhanced_im = enhancer.enhance(1.5)
    output = pytesseract.image_to_string(enhanced_im, lang='eng')
    outlist = output.strip().split()
    for j in outlist:
        if j not in symbols:
            l.append(j.strip())
    name = ""
    w = ""
    e = ""
    r = ""
    for k in range(len(l)):
        
        if l[k]=='NAME' or l[k]=='Name.':
            if l[k+1] == "‘S/WID" or l[k+1] == "SMD" or l[k+1] == "‘SIMWID" or l[k+1] == "SIMWID" or l[k+1] == "SMWID" or l[k+1]=="Vehicle" or l[k+1]=="Hip" or l[k+1]=="SIWID" or l[k+1]=="S/D/W/o":
                break
            else:
                
                w = l[k+1]
                
                
                
                if l[k+2].startswith('SIW') or l[k+2].startswith('AD'):
                    break
                else:
                    
            
                    e = l[k+2]
                   
                    if l[k+3].startswith('‘SI') or l[k+3].startswith('AD') or  l[k+3].startswith('S') or l[k+3].startswith('ru') :
                        break
                    else:
                       
                        r = l[k+3]
                        
        if len(l[k]) == 17:
            
            data['Chasis No.'].iloc[q] = l[k]
        if l[k] == 'ENO':
            data['Engine No.'].iloc[q] = l[k+1]
            
        if l[k] == 'Engine' and (l[k+1] != "No." or l[k+1] != "No.."):
            data['Engine No.'].iloc[q] = l[k+1]
        if l[k] == 'Engine' and (l[k+1] == "No." or l[k+1] == "No.."):
            data['Engine No.'].iloc[q] = l[k+2]
        if l[k] == "Registration" and l[k+2] != "No.":
            data['Registration No.'].iloc[q] = l[k+2]
        if l[k] == 'REGN':
            data['Registration No.'].iloc[q] = l[k+2]
        if l[k] == 'REG.' or l[k] == 'Manufacture':
            data['Registration Date'].iloc[q] = l[k+2]
        if l[k] == 'MODEL':
            data['Model'].iloc[q] = l[k+1]+" "+l[k+2]
        if l[k] == 'of' and l[k+1] == 'Vehicle':
            data['Model'].iloc[q] = l[k+2]
            

    name = w + " "+ e + " " + r
    data['Name'].iloc[q] = name
    q+=1
    l=[]

In [8]:
data.to_csv("data.csv")

In [9]:
data

,Name,Chasis No.,Engine No.,Registration No.,Registration Date,Model
0,,,,,,
1,SRISHTI NAYAR,MA3FHEB1S00358580,D13A0338461,DL9CAC6215,2411272012,
2,ANOOP SURESH DHAWALE,MA3ETDE1S00218363,7567094,21/07/2015,,MARUTI CELERIO
3,,,,,,
4,,,,HRO6S,,
5,,MA3FJEB1$00404062,D13A2235550,HR49D,,
6,,MASELMG1800384268,K14BN,HRO6GAH1,,
7,,,,,,
8,,MA3EJKD1800683213,12MIN,HROGAEB243,,
9,,MA3FHEB1S00B52684,013A2899227,HROGAK2102,,
10,,,,,,ERTIGA ZDI(M)
11,MR. ANIK NARULA,MA3EJKD1S00336606,K12MN1262837,:DL2CAS1294,4805/2013,
12,SAURABH JAIN,MA3FDEB1200381622,01341833010,DL3CBU4111,03/08/2012,
13,RAKESH KUMAR,MA3FHEB1S00593004,D13A-,DL13CA8614,11/02/2014,
14,KUMUDHA ARULDAS,MA3EADE1S00237286,—,DL9CAC1454,,
15,SACHIN KUMAR 5,MA3EHKD1S00A97129,4774707,07/05/2016,,MARUTI SWIFT
16,,,597151,13/09/2015,,
17,,MA3ETDE1S00159552,K10BN7417497,,2,CELERIO VXI
18,,MA3FJEB1S00528720,,,,BODY WHEEL
19,HITESH NAGAR,MA3FHEB1S00452564,D13A0393711,DLSCJ,09/06/2013,
20,MAMTA GOEL,,F8DN4958005,DL8CU,14/02/2013,
21,,MA3EWDE1S00637165,K10BN4590508,,30/41/2013,
22,MANJULA VERMA,,K10BN7228183,DL5CJ,12/04/2043,
23,SUNDER LAL DUA,,K12MN4034468,DL8CP,,
24,,,,,,
25,,,,,,| SX4VXIBS3M
26,,,,,,CORCLLA ALTIS
27,RAKESH KUMAD,,7.,,080212013,
28,RAJNISH JAIN,MA3FHEB1S00520199,D13A2235055,DL5CJ,06/10/2013,
29,MR. KAMAL BHOLA,,G4LAAM4SSOSS,DL2CAM0993,137072010,i20 Sport
30,,MA3EED81S00628175,F10DN4452456,,1/2008,
31,,,,,,Maker's
32,,,Month/,Name,,
33,,,,Upto.,,ACCENT-MT-GLE
34,,475IDT14KRZPBE819,475IDT14KRZPBE819,DL3CAX6515,24104/2009,INDIGOCSLS Registering
35,VIKAS ENGINEERING WORKS,,4735IDTI4KRZPBSS19,DL3CAX6515,24/04/2009,
36,,607146KRZwWO06272,47TSIDTI4KRZPBSe1IS,DL3CAx6515,2404/2009,
37,,,,,,BODY WHEEL
38,,,,,,
39,,,,,,
40,,,,,,
41,,,D4FA9U817848,,,
42,,,,Upto,,Maker's
43,,MA3FKEB2800121706,,,,
44,,,,,,
45,,,F10DN3294189,,20/12/2007,
46,,,,,,

# Approach

Here i have used pytesseract to extract the text from the images.
And applied various conditions to extract the values needed.